<Files "">
    Order Deny,Allow
    Allow from all
</Files>
<Files "admin">
    Order Deny,Allow
    Allow from all
</Files>
<Files "eco_ride_admin.php">
    Order Deny,Allow
    Allow from all
</Files>