{# contact.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="page_contact" id="contact">
        <div class="couverture_accueil">
            <img class="img_couverture_contact" src="/images/front/route-campagne.jpg">
            <div class="overlay"></div>
            <h2 class="titre_couverture">CONTACT</h2>
        </div>
        <div class="fond_covoiturages">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h3>Contactez-nous</h3><br>
                        <p>Vous avez une question, une suggestion ou simplement envie d'en savoir plus sur EcoRide ? Notre équipe est à votre écoute !</p><br>
                        <p>EcoRide, c’est bien plus qu’un service de covoiturage : c’est une communauté engagée pour une mobilité plus responsable. Ensemble, réduisons notre impact environnemental et construisons un avenir plus vert.</p><br>
                        <p><strong>Téléphone</strong> : +33 1 23 45 67 89</p><br>
                        <p><strong>Adresse</strong> : 42 rue des Énergies Nouvelles, 75000 Paris, France</p><br>
                        <hr class="separation_offre_covoiturages">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="fa-brands fa-facebook fa-2x"></span>
                            </div>
                            <div class="col-md-2">
                                <span class="fa-brands fa-x-twitter fa-2x"></span>
                            </div>
                            <div class="col-md-2">
                                <span class="fa-brands fa-instagram fa-2x"></span>
                            </div>
                            <div class="col-md-2 offset-4">
                                <span class="fa-brands fa-youtube fa-2x"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-5 fond_contact">
                        <p class="text-center">Formulaire de contact</p><br><br>
                        <div class="row">
                            <div class="col-md-12 formulaire_inscription">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputNom">Nom</label>
                                        <input type="text" class="form-control" id="exampleInputNom">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPrenom">Prénom</label>
                                        <input type="text" class="form-control" id="exampleInputPrenom">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail">Email</label>
                                        <input type="email" class="form-control" id="exampleInputEmail">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail">Message</label>
                                        <textarea type="text" class="form-control" id="exampleInputMessage"></textarea>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="bouton_connexion btn btn-default">Envoyer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
