{# profil.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
    <div class="page_profil_admin" id="profil_admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p id="date_container">À propos de vous</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="fond_offre_covoiturages">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="titre_fiche_conducteur">Vous êtes</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="switch-with-text">
                                <label class="switch">
                                    <input type="checkbox" id="toggle">
                                    <span class="slider"></span>
                                </label>
                                <span class="toggle-text">Chauffeur</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="switch-with-text">
                                <label class="switch">
                                    <input type="checkbox" id="toggle">
                                    <span class="slider"></span>
                                </label>
                                <span class="toggle-text">Passager</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="switch-with-text">
                                <label class="switch">
                                    <input type="checkbox" id="toggle">
                                    <span class="slider"></span>
                                </label>
                                <span class="toggle-text">Les deux</span>
                            </label>
                        </div>
                    </div>
                    <hr class="separation_offre_covoiturages_details">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="titre_fiche_conducteur">Informations spécifiques</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <p>Plaque d'immatriculation :</p>
                                <div class="input input_recherche_filtre">
                                    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <p>Date de première immatriculation :</p>
                                <div class="input input_recherche_filtre">
                                    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <p>Modèle du véhicule :</p>
                                <div class="input input_recherche_filtre">
                                    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <p>Couleur du véhicule :</p>
                                <div class="input input_recherche_filtre">
                                    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <p>Marque du véhicule :</p>
                                <div class="input input_recherche_filtre">
                                    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <p>Nombre de place disponible : :</p>
                                <div class="input input_recherche_filtre">
                                    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <button class="bouton_participer" type="submit">ENREGISTRER</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="bouton_participer" type="submit">+ AJOUTER UN VÉHICULE</button>
                        </div>
                    </div>
                    <hr class="separation_offre_covoiturages_details">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="titre_fiche_conducteur">Préférences</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="switch-with-text">
                                <span class="toggle-text">Non fumeur</span>
                                <label class="switch">
                                    <input type="checkbox" id="toggle">
                                    <span class="slider"></span>
                                </label>
                                <span class="toggle-text">Fumeur</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="switch-with-text">
                                <span class="toggle-text">Pas d'animaux</span>
                                <label class="switch">
                                    <input type="checkbox" id="toggle">
                                    <span class="slider"></span>
                                </label>
                                <span class="toggle-text">Animaux</span>
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Autres préférences</p>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <button class="bouton_participer" type="submit">ENREGISTRER</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
